name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test pipeline
        run: echo "GitHub Actions funcionando correctamente."
